:root {
	--lightBlue: #8D92F2;
	--blue: #0511F2;
	--darkBlue: #020659;
	--offWhite: #F2F2F2;
	--black: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

body {
	background-color: var(--darkBlue);
}

.game-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 80px;
	color: var(--offWhite);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-weight: bold;
}

.author {
	position: absolute;
	font-size: 16px;
	color: var(--lightBlue);
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.wrapper {
	display: grid;
}

.sizeSmall {
	grid-template-columns: repeat(10, 50px);
	grid-template-rows: repeat(10, 50px)
}

.sizeLarge {
	grid-template-columns: repeat(15, 50px);
	grid-template-rows: repeat(15, 50px)
}

.field {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--lightBlue);
	border: 1px solid var(--darkBlue);
	font-size: 24px;
	font-weight: bold;
}

.field i {
	font-size: 30px;
	color: var(--offWhite);
}

.shown i {
	color: var(--black);
}

.btn {
	background-color: var(--lightBlue);
	padding: 5px 10px;
	font-size: 26px;
	border-radius: 8px;
	color: var(--offWhite);
	border: none;
	margin: 10px;
	cursor: pointer;
}

header {
	color: var(--offWhite);
	font-size: 40px;
	margin: 30px;
	display: none;
}

header i,
header span {
	margin-right: 10px;
}

.popup-lost,
.popup-win {
	background: rgba(2, 6, 89, 0.6);
	display: none;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.popup-lost .helper,
.popup-win .helper {
	height: 100%;
	vertical-align: middle;
}

.popup-lost>div,
.popup-win>div {
	background-color: var(--lightBlue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 600px;
	height: 300px;
	vertical-align: middle;
	position: relative;
	border-radius: 8px;
	padding: 15px 5%;
}

.lost,
.win {
	color: var(--offWhite);
	font-size: 40px;
}

.buttonsWrapper {
	display: flex;
	justify-content: space-around;
}

.popup-lost .btn,
.popup-win .btn {
	background-color: var(--darkBlue);
	margin: 20px 30px;
}

.timeWrapper {
	color: var(--offWhite);
	font-size: 40px;
}

.timeWrapper i {
	margin-right: 10px;
}